<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>COVID19: About</title>
  <meta name="description" content="COVID19 ChemicalChecker Drug-candidates.">
  <meta name="author" content="SBNB">

{% include 'head.html' %}

</head>
<body>

{% with active_page = "About" %}
{% include 'navbar.html' %}
{% endwith %}

<div id="main" class="container justify-content-center">

  <div class="card card-default">
    <div class="card-header">
      <h3 id="table_title" class="text-center">This resource is available thank to the contribution of several entities:</h3>
    </div>
    <div class="card-body">

      <div class="row">

        <!-- CONTRIBUTOR 1-->
        <div class="col">
          <div class="card" style="width: 20rem;">
            <a target="_blank" href="https://sbnb.irbbarcelona.org/">
              <img class="card-img-top p-4" src="{{ url_for('static', filename='images/SBNB_logo_2017-H-small.png') }}" alt="Logo">
            </a>
            <div class="card-body">
              <p class="card-text">The Structural Bioinformatics and Network Biology group contributed in:</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Literature annotation and curation</li>
              <li class="list-group-item">Candidate drugs identification</li>
              <li class="list-group-item">Website host and design</li>
            </ul>
            <div class="card-body">
              <a target="_blank" href="https://sbnb.irbbarcelona.org/" class="card-link">https://sbnb.irbbarcelona.org/</a>
            </div>
          </div>
        </div>

      </div>
  
    </div>
  </div>
</div>
{% include 'footer.html' %}

</body>
</html>