<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="https://chemicalchecker.com/" target="_blank">
    <img alt="ChemicalChecker" height="30" id="logo" 
      onmouseover="this.src='https://chemicalchecker.com/images/CC_logo_blue.svg';" 
      onmouseout="this.src='https://chemicalchecker.com/images/CC_logo_black.svg';" 
      src="https://chemicalchecker.com/images/CC_logo_black.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1BesqNdhHoVyldk372JOyNbhKAl0ncVZwloTpWb6YWZw/edit#gid=424137782" target="_blank">Literature Candidates</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://docs.google.com/document/d/1ykFSQ8Zek9xLDKy3z-usKAxmdl5VbsFBlKak3M7dK-k/edit" target="_blank">Manuscript</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://gitlabsbnb.irbbarcelona.org/project-specific-repositories/covid19" target="_blank">Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://sbnb.irbbarcelona.org/" target="_blank">About</a>
      </li>
    </ul>
  </div>
</nav>

<br><br><br>

<!-- Intro -->
<div class="container">
  <div class="row">
    <div class="col-md-5 title">
        <h2 class="text-center">Severe acute respiratory syndrome coronavirus 2 (<i>SARS-CoV-2</i>).</h2>
        <img alt="Covid19" class="rounded mx-auto d-block" id="covid19_img" width="250"
          src="{{ url_for('static', filename='images/covid19_logo_small.png') }}"/>
    </div>
    <div class="col-md-7 options-sets">
      <br>
      <p class="text-center">This is a positive-sense, single-stranded RNA coronavirus. The virus is the causative agent of coronavirus disease 2019 (<a href="https://en.wikipedia.org/wiki/2019-nCoV_acute_respiratory_disease" target="_blank">COVID-19</a>) and is contagious through human-to-human transmission.</p>
      <p class="text-center">Here we present a list of plausible drug candidates obtained using the <a href="https://chemicalchecker.com/" target="_blank">Chemical Checker</a> resource.</p>

      <form>
        <div class="form-group row">
          <label for="signature" class="col-sm-3 col-form-label">Signature:</label>
          <div class="col-sm-9 my-2">
            <div id="signature" class="btn-group" role="group" aria-label="Signature">
              <button type="button" value="cc" class="btn btn-secondary active">ChemicalChecker</button>
              <button type="button" value="fp" class="btn btn-secondary">Morgan Fingerprint</button>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="evidence" class="col-sm-3 col-form-label">Evidence Level:</label>
          <div class="col-sm-9 my-2">
            <div id="evidence" class="btn-group" role="group" aria-label="Evidence Level">
              <button type="button" value="" class="btn btn-secondary active">All</button>
              <button type="button" value="0" class="btn btn-secondary" data-toggle="tooltip" title="Computational">Comp</button>
              <button type="button" value="1" class="btn btn-secondary" data-toggle="tooltip" title="Preclinical">Pre</button>
              <button type="button" value="2" class="btn btn-secondary" data-toggle="tooltip" title="Clinics">Clin</button>
              <button type="button" value="3" class="btn btn-secondary" data-toggle="tooltip" title="Clinics COVID19">COV19</button>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="moa" class="col-sm-3 col-form-label">Mode of Action:</label>
          <div class="col-sm-9 my-2">
            <div id="moa" class="btn-group" role="group" aria-label="Mode of Action">
              <button type="button" value="" class="btn btn-secondary active">All</button>
              <button type="button" value="0" class="btn btn-secondary" data-toggle="tooltip" title="Unkown">UNK</button>
              <button type="button" value="1" class="btn btn-secondary" data-toggle="tooltip" title="Host Factor">HF</button>
              <button type="button" value="2" class="btn btn-secondary" data-toggle="tooltip" title="Virus Entry">VE</button>
              <button type="button" value="3" class="btn btn-secondary" data-toggle="tooltip" title="Protease Inhibitor">PI</button>
              <button type="button" value="4" class="btn btn-secondary" data-toggle="tooltip" title="RNA trans./rep.">RNA</button>
              <button type="button" value="5" class="btn btn-secondary" data-toggle="tooltip" title="Immunomodulator">IM</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>