
  <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.0/css/fixedColumns.bootstrap4.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/ellipsis.js"></script>

  <style>
    table.dataTable td {
      padding: 3px 10px;
      width: 1px;
      white-space: nowrap;
      font-family: monospace;
      font-size: 10pt;
    }
    .dataTables_sizing i {
      visibility: hidden;
    }
    button {
      font-family: monospace;
      font-size: 10pt;
    }
    body {
      font-family: 'Helvetica Neue', sans-serif !important;
    }
    thead th { white-space: nowrap; }
    #header-info {
      color: #5078DC;
      font-size: 16px;
      position: absolute;
      left: 5px;
      top: 18px;
    }
    #header-info-small {
      color: #5078DC;
      font-size: 14px;
      position: absolute;
      left: 5px;
      top: 14px;
    }
    .tooltip-inner-chem{
      background: transparent;
    }
    .tooltip-chem.bs-tooltip-bottom {
      margin-top: 5px;
    }
    .tooltip-chem.bs-tooltip-top {
      margin-bottom: 5px;
    }
    .tooltip-chem.bs-tooltip-left {
      margin-right: 10px;
    }
    .tooltip-chem.bs-tooltip-right {
      margin-left: 10px;
    }
    .bs-tooltip-auto[x-placement^=bottom] .arrow-chem::before, .bs-tooltip-bottom .arrow-chem::before {
      border-bottom-color: #5078DC !important;
    }
    .bs-tooltip-auto[x-placement^=top] .arrow-chem::before, .bs-tooltip-top .arrow-chem::before {
      border-top-color: #5078DC !important;
    }
    .bs-tooltip-auto[x-placement^=left] .arrow-chem::before, .bs-tooltip-left .arrow-chem::before {
      border-left-color: #5078DC !important;
    }
    .bs-tooltip-auto[x-placement^=right] .arrow-chem::before, .bs-tooltip-right .arrow-chem::before {
      border-right-color: #5078DC !important;
    }
    nav a:hover {
      color: #5078DC !important;
    }
     /* unvisited link */
    a:link {
      color: #5078DC;
    }
    /* visited link */
    a:visited {
      color: #5078DC;
    }
    /* mouse over link */
    a:hover {
      color: #5078DC;
    }
    /* selected link */
    a:active {
      color: #5078DC;
    }
    .page-item.active .page-link {
      background-color:  #5078DC;
      border-color:  #5078DC;
    }
  </style>