<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>COVID19: Drug Candidates</title>
  <meta name="description" content="COVID19 Chemical Checker Drug Candidates">
  <meta name="author" content="SBNB">

{% include 'head.html' %}

  <script>
  $(document).ready(function() {

    var cc_table = $('#cc_table').DataTable( {
      //"scrollX": true,
      "dom": "<'row' <'col' <'row'<'col-md-auto my-3 ml-2'<'export-label'>> <'col-md-auto my-2'B>>> <'col my-2'l> <'col'i> <'col my-2'p> > t",//'rilBpt',
      "buttons": [
            {
                extend:    'copyHtml5',
                text:      '<i class="fa fa-files-o"></i>',
                titleAttr: 'Copy',
                exportOptions: {
                  modifier : {
                    order : 'current', // 'current', 'applied','index', 'original'
                    page : 'all', // 'all', 'current'
                    search : 'none' // 'none', 'applied', 'removed'
                  },
                  //columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ]
                }
            },
            {
                extend:    'excelHtml5',
                text:      '<i class="fa fa-file-excel-o"></i>',
                titleAttr: 'Excel',
                exportOptions: {
                  modifier : {
                    order : 'current', // 'current', 'applied','index', 'original'
                    page : 'all', // 'all', 'current'
                    search : 'none' // 'none', 'applied', 'removed'
                  },
                  //columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ]
                }
            },
            {
                extend:    'csvHtml5',
                text:      '<i class="fa fa-file-text-o"></i>',
                titleAttr: 'CSV',
                exportOptions: {
                  modifier : {
                    order : 'current', // 'current', 'applied','index', 'original'
                    page : 'all', // 'all', 'current'
                    search : 'none' // 'none', 'applied', 'removed'
                  },
                  //columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ]
                }
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fa fa-file-pdf-o"></i>',
                orientation: 'landscape',
                pageSize: 'A3',
                titleAttr: 'PDF',
                exportOptions: {
                  modifier : {
                    order : 'current', // 'current', 'applied','index', 'original'
                    page : 'all', // 'all', 'current'
                    search : 'none' // 'none', 'applied', 'removed'
                  },
                  //columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8 ]
                  /*
                  format: {
                    body: function ( data, row, column, node ) {
                      console.log(column);
                      return column === 0 ?
                        data.substr(2):
                        data;
                    }
                  }
                  */
                }
            }
      ],
      "bProcessing": true,
      "bServerSide": true,
      "sPaginationType": "full_numbers",
      "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, 'All']],
      "bjQueryUI": true,
      "sAjaxSource": "{{ url_for('get_candidate_table') }}" + "?signature=cc&evidence=&moa=",
      "columnDefs": [
        // approximate to second decimal
        /*
        { 
          render: function ( data, type, row ) {
            return data.toFixed(2);
            },
          targets: [4, 5]
        },
        */
        // Add link to CC and image on tooltip
        {
          render: function ( data, type, row ) {
            var cc = "https://chemicalchecker.com/explore/" + data;
            var cc_tag = "<a target='_blank' href='" + cc + "'>" + data + "</a>";
            var mol = "https://chemicalchecker.com/images/molecules/" + data.slice(0,2) + "/" + data.slice(2,4) + "/" + data + "/2d.svg";
            var mol_img = "title=\'<img style=&quot;width:100%&quot; src=&quot;" + mol + "&quot;>\'";
            var mol_tag = "<tooltip data-toggle='tooltip' data-html='true'" + mol_img + ">" + cc_tag + "</tooltip>";
            return mol_tag;
            },
          targets: [0]
        },
        // Add link to CC for best literature match DISABLE
        {
          render: function ( data, type, row, meta ) {
            var cc = "https://chemicalchecker.com/explore/" + row['top1_inchikey'];
            if (data == '!N/A') {
              return data.substr(1);
            }
            if (data.length >= 17) {
              data = data.slice(0, 17) + '&hellip;';
            }
            var cc_tag = "<a target='_blank' href=\"" + cc + "\">" + data + "</a>";
            return cc_tag;
            },
          targets: 12
        },
        {
          render: function ( data, type, row, meta ) {
            var cc = "https://chemicalchecker.com/explore/" + row['top2_inchikey'];
            if (data == '!N/A') {
              return data.substr(1);
            }
            if (data.length >= 17) {
              data = data.slice(0, 17) + '&hellip;';
            }
            var cc_tag = "<a target='_blank' href=\"" + cc + "\">" + data + "</a>";
            return cc_tag;
            },
          targets: 13
        },
        {
          render: function ( data, type, row, meta ) {
            var cc = "https://chemicalchecker.com/explore/" + row['top3_inchikey'];
            if (data == '!N/A') {
              return data.substr(1);
            }
            if (data.length >= 17) {
              data = data.slice(0, 17) + '&hellip;';
            }
            var cc_tag = "<a target='_blank' href=\"" + cc + "\">" + data + "</a>";
            return cc_tag;
            },
          targets: 14
        },
        // Convert 1/0 to Yes/No
        {
          render: function ( data, type, row ) {
            if (data == '0'){return 'No';}
            if (data == '1'){return 'Yes';}
            },
          targets: 2
        },
        // Hide some columns
        {
          visible: false,
          targets: [3, 4, 9, 10, 11 ],
        },
        // Ellipsis on too long text
        {
          render: $.fn.dataTable.render.ellipsis( 17, true ),
          targets: [1, 12, 13, 14],
        },
        // Column descriptions
        {
          data: '0',
          title: '<i class="fa fa-info-circle fa-lg"></i>',
          targets: 0,
        }
    
      ],
      // columns need to be defined here as well
      "columns": [
        {% for col in columns %}
        {"data": "{{ col }}"},
        {% endfor %}
      ],
      // default ordering by Support score
      "order": [[ 5, "desc" ]],
    });

    // Rename columns 
    $( cc_table.column( 0 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Candidate molecule identifier" class="fa fa-info-circle fa-lg"></i> InChIKey' );
    $( cc_table.column( 1 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Candidate molecule name" class="fa fa-info-circle fa-lg"></i> Name' );
    $( cc_table.column( 2 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Is the candidate an approved or experimental drug?" class="fa fa-info-circle fa-lg"></i> Is Drug' );
    $( cc_table.column( 3 ).header() ).html( 'Evidence' );
    $( cc_table.column( 4 ).header() ).html( 'MoA' );
    $( cc_table.column( 5 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Composite score calculated as the weighted sum of -logP-values of similarity and level of evidence" class="fa fa-info-circle fa-lg"></i> Support' );
    $( cc_table.column( 6 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Number of CoV literature compounds with a similarity P-value < 1e-5" class="fa fa-info-circle fa-lg"></i> # P5' );
    $( cc_table.column( 7 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Number of CoV literature compounds with a similarity P-value < 1e-4" class="fa fa-info-circle fa-lg"></i> # P4' );
    $( cc_table.column( 8 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Number of CoV literature compounds with a similarity P-value < 1e-3" class="fa fa-info-circle fa-lg"></i> # P3' );
    $( cc_table.column( 9 ).header() ).html( '1st Lit. match InChIKey' );
    $( cc_table.column( 10 ).header() ).html( '2nd Lit match InChIKey' );
    $( cc_table.column( 11 ).header() ).html( '3rd Lit match InChIKey' );
    $( cc_table.column( 12 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Most similar CoV literature compound" class="fa fa-info-circle fa-lg"></i> Sim CoV (1)' );
    $( cc_table.column( 13 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Second-most similar CoV literature compound" class="fa fa-info-circle fa-lg"></i> Sim CoV (2)' );
    $( cc_table.column( 14 ).header() ).html( '<i id="header-info" data-toggle="tooltip" title="Third-most similar CoV literature compound" class="fa fa-info-circle fa-lg"></i> Sim CoV (3)' );

    // Get click event, assign active state, get values from all btn-groups
    $('.btn-group button').on('click', function() {
      var thisBtn = $(this);
      thisBtn.addClass('active').siblings().removeClass('active');
      var btnText = thisBtn.text();
      var btnValue = thisBtn.val();

      var allActive = thisBtn.parent().parent().parent().parent().find('.active');
      var evidence = allActive[0].value;
      var moa = allActive[1].value;
      var signature = allActive[2].value;
      var newUrl = "{{ url_for('get_candidate_table') }}" + "?signature="+signature+"&evidence="+evidence+"&moa="+moa;
      cc_table.ajax.url(newUrl).load();
      var newTitleUrl = "{{ url_for('get_table_title') }}" + "?signature="+signature+"&evidence="+evidence+"&moa="+moa;
      $.getJSON(newTitleUrl, {}, function(data) {
        $("#table_title").text(data);
      });
    });

    $("#button-default").trigger('click');

    $("div.export-label").html('<b>Export:</b>');

    cc_table.on( 'draw', function () {
      $('tooltip[data-toggle="tooltip"]').tooltip({
          animated: 'fade',
          placement: 'right',
          html: true,
      });
    });

  });

  </script>

</head>
<body>

{% include 'navbar.html' %}
{% include 'header.html' %}
<div id="main" class="container-fluid justify-content-center">
  <!-- Table -->
  <br>

  <div class="card card-default">
    <div class="card-header">
      <h3 id="table_title" class="text-center">Select a table</h3>
    </div>
    <div class="card-body">

      <table id='cc_table' class='table table-striped table-hover table-bordered wrap dataTable' style="width:100%">
      </table>
    </div>
  </div>

</div>
{% include 'footer.html' %}

</body>
</html>