<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>COVID19</title>
  <meta name="description" content="COVID19 ChemicalChecker Drug-candidates.">
  <meta name="author" content="SBNB">

{% include 'head.html' %}

  <script>
  $(document).ready(function() {
    var cc_table = $('#cc_table').DataTable( {
      //"scrollX": true,
      "dom": 'rilBpt',
      "buttons": [
            {
                extend:    'copyHtml5',
                text:      '<i class="fa fa-files-o"></i>',
                titleAttr: 'Copy'
            },
            {
                extend:    'excelHtml5',
                text:      '<i class="fa fa-file-excel-o"></i>',
                titleAttr: 'Excel'
            },
            {
                extend:    'csvHtml5',
                text:      '<i class="fa fa-file-text-o"></i>',
                titleAttr: 'CSV'
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fa fa-file-pdf-o"></i>',
                titleAttr: 'PDF'
            }
      ],
      "bProcessing": true,
      "bServerSide": true,
      "sPaginationType": "full_numbers",
      "lengthMenu": [[25, 50, 100], [25, 50, 100]],
      "bjQueryUI": true,
      "sAjaxSource": "{{ url_for('get_candidate_table') }}" + "?signature=cc&evidence=&moa=",
      "columnDefs": [
        { 
          render: function ( data, type, row ) {
            return data.toFixed(2);
            },
          targets: [4, 5]
        },
        {
          render: function ( data, type, row ) {
            var cc = "https://chemicalchecker.com/explore/" + data;
            var cc_tag = "<a href=\"" + cc + "\">" + data + "</a>";
            var mol = "https://chemicalchecker.com/images/molecules/" + data.slice(0,2) + "/" + data.slice(2,4) + "/" + data + "/2d.svg";
            var mol_img = "<img src=\'" + mol + "\'/>";
            var mol_tag = "<a data-toggle=\"tooltip\" title=\"" + mol_img + "\">" + cc_tag + "</a>";
            return cc_tag;
            },
          targets: [0, -2]
        },
        {
          visible: false,
          targets: [3, 4, 5 ],
        },
        {
          render: $.fn.dataTable.render.ellipsis( 17, true ),
          targets: [1, -1],
        },
    
      ],
      "columns": [
        {% for col in columns %}
        {"data": "{{ col }}"},
        {% endfor %}
      ]
    });

    $('[data-toggle="tooltip"]').tooltip();

    // Get click event, assign active state, get values from all btn-groups
    $('.btn-group button').on('click', function() {
      var thisBtn = $(this);
      thisBtn.addClass('active').siblings().removeClass('active');
      var btnText = thisBtn.text();
      var btnValue = thisBtn.val();

      var allActive = thisBtn.parent().parent().parent().parent().find('.active');
      console.log()
      var evidence = allActive[0].value;
      var moa = allActive[1].value;
      var signature = allActive[2].value;
      var newUrl = "{{ url_for('get_candidate_table') }}" + "?signature="+signature+"&evidence="+evidence+"&moa="+moa;
      cc_table.ajax.url(newUrl).load();
      var newTitleUrl = "{{ url_for('get_table_title') }}" + "?signature="+signature+"&evidence="+evidence+"&moa="+moa;
      console.log(newTitleUrl);
      $.getJSON(newTitleUrl, {}, function(data) {
        $("#table_title").text(data);
      });
    });

  } );

  </script>
</head>
<body>

{% include 'navbar.html' %}
{% include 'header.html' %}
<div id="main" class="container-fluid justify-content-center">
<!-- Table -->
<br><br><br>
<h1 id="table_title" class="text-center">CC similarities (778531 cand. x 152 lit.)</h1>
<table id='cc_table' class='table table-striped table-hover table-bordered wrap dataTable' style="width:100%">
  <thead>
    <tr>
      {% for col in columns %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
</table>
</div>
{% include 'footer.html' %}

</body>
</html>