<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>COVID19</title>
  <meta name="description" content="COVID19 ChemicalChecker Drug-candidates.">
  <meta name="author" content="SBNB">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/ellipsis.js"></script>

  <script>
  $(document).ready(function() {
    var cc_table = $('#cc_table').DataTable( {
      //"scrollX": true,
      "dom": 'rilBpt',
      "buttons": [
            {
                extend:    'copyHtml5',
                text:      '<i class="fa fa-files-o"></i>',
                titleAttr: 'Copy'
            },
            {
                extend:    'excelHtml5',
                text:      '<i class="fa fa-file-excel-o"></i>',
                titleAttr: 'Excel'
            },
            {
                extend:    'csvHtml5',
                text:      '<i class="fa fa-file-text-o"></i>',
                titleAttr: 'CSV'
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fa fa-file-pdf-o"></i>',
                titleAttr: 'PDF'
            }
      ],
      "bProcessing": true,
      "bServerSide": true,
      "sPaginationType": "full_numbers",
      "lengthMenu": [[25, 50, 100], [25, 50, 100]],
      "bjQueryUI": true,
      "sAjaxSource": "{{ url_for('get_candidate_table') }}" + "?signature=cc&evidence=&moa=",
      "columnDefs": [
        { 
          render: function ( data, type, row ) {
            return data.toFixed(2);
            },
          targets: [4, 5]
        },
        {
          render: function ( data, type, row ) {
            var cc = "https://chemicalchecker.com/explore/" + data;
            var cc_tag = "<a href=\"" + cc + "\">" + data + "</a>";
            var mol = "https://chemicalchecker.com/images/molecules/" + data.slice(0,2) + "/" + data.slice(2,4) + "/" + data + "/2d.svg";
            var mol_img = "<img src=\'" + mol + "\'/>";
            var mol_tag = "<a data-toggle=\"tooltip\" title=\"" + mol_img + "\">" + cc_tag + "</a>";
            return cc_tag;
            },
          targets: [0, -2]
        },
        {
          visible: false,
          targets: [3, 4, 5 ],
        },
        { 
          width: 10, 
          targets: 0,
        },
        {
          render: $.fn.dataTable.render.ellipsis( 17, true ),
          targets: [1, -1],
        },
    
      ],
      "columns": [
        {% for col in columns %}
        {"data": "{{ col }}"},
        {% endfor %}
      ]
    });

    $('[data-toggle="tooltip"]').tooltip();

    // Get click event, assign active state, get values from all btn-groups
    $('.btn-group button').on('click', function() {
      var thisBtn = $(this);
      thisBtn.addClass('active').siblings().removeClass('active');
      var btnText = thisBtn.text();
      var btnValue = thisBtn.val();

      var allActive = thisBtn.parent().parent().parent().parent().find('.active');
      console.log()
      var signature = allActive[0].value;
      var evidence = allActive[1].value;
      var moa = allActive[2].value;
      var newurl = "{{ url_for('get_candidate_table') }}" + "?signature="+signature+"&evidence="+evidence+"&moa="+moa;
      cc_table.ajax.url(newurl).load();
    });

  } );

  </script>
  <style>
    table.dataTable td {
      padding: 3px 10px;
      width: 1px;
      white-space: nowrap;
      font-family: monospace;
      font-size: 10pt;
    }
    button {
      font-family: monospace;
      font-size: 10pt;
    }
    body {
      font-family: 'Open Sans', sans-serif !important;
    }
  </style>
</head>
<body>

{% include 'header.html' %}
<div id="main" class="container-fluid justify-content-center">
<!-- Table -->
<table id='cc_table' class='table table-striped table-hover table-bordered wrap dataTable' style="width:100%">
  <thead>
    <tr>
      {% for col in columns %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
</table>
</div>
{% include 'footer.html' %}

</body>
</html>