<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>COVID19</title>
  <meta name="description" content="COVID19 ChemicalChecker Drug-candidates.">
  <meta name="author" content="SBNB">

{% include 'head.html' %}

  <script>
  $(document).ready(function() {
    $('#literature').DataTable( {
      "sAjaxSource": "{{ url_for('get_literature_table') }}",
      "lengthMenu": [[25, 50, 100], [25, 50, 100]],
      "dom": 'rilBpt',
      "buttons": [
            {
                extend:    'copyHtml5',
                text:      '<i class="fa fa-files-o"></i>',
                titleAttr: 'Copy'
            },
            {
                extend:    'excelHtml5',
                text:      '<i class="fa fa-file-excel-o"></i>',
                titleAttr: 'Excel'
            },
            {
                extend:    'csvHtml5',
                text:      '<i class="fa fa-file-text-o"></i>',
                titleAttr: 'CSV'
            },
            {
                extend:    'pdfHtml5',
                text:      '<i class="fa fa-file-pdf-o"></i>',
                titleAttr: 'PDF'
            }
      ],
      "columnDefs": [
        /*
        {
          visible: false,
          targets: [ 5 ],
        },
        */
        // Ellipsis on too long text
        {
          render: $.fn.dataTable.render.ellipsis( 17, true ),
          targets: [ 1 ],
        },            
      ],
    });
  } );
  </script>
</head>
<body>

{% include 'navbar.html' %}
<div id="main" class="container-fluid justify-content-center">
<!-- Table -->
<table id='literature' class='table table-striped table-hover table-bordered wrap dataTable' style="width:100%">
  <thead>
    <tr>
      {% for col in columns %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
</table>
</div>
<br><br><br>
{% include 'footer.html' %}

</body>
</html>