<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="https://chemicalchecker.com/" target="_blank">
    <img alt="ChemicalChecker" height="30" id="logo" 
      onmouseover="this.src='https://chemicalchecker.com/images/CC_logo_blue.svg';" 
      onmouseout="this.src='https://chemicalchecker.com/images/CC_logo_black.svg';" 
      src="https://chemicalchecker.com/images/CC_logo_black.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ 'active' if active_page == 'Candidates' else '' }}">
        <a class="nav-link" href="{{ url_for('index') }}" target="_blank">Candidates</a>
      </li>
      <li class="nav-item {{ 'active' if active_page == 'Literature' else '' }}">
        <a class="nav-link" href="{{ url_for('literature') }}" target="_blank">Literature</a>
      </li>
      <!--
      <li class="nav-item active">
        <a class="nav-link" href="https://docs.google.com/document/d/1ykFSQ8Zek9xLDKy3z-usKAxmdl5VbsFBlKak3M7dK-k/edit" target="_blank">Manuscript</a>
      </li>
      -->
      <li class="nav-item {{ 'active' if active_page == 'Documentation' else '' }}">
        <a class="nav-link" href="{{ url_for('docs') }}" target="_blank">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1BesqNdhHoVyldk372JOyNbhKAl0ncVZwloTpWb6YWZw/edit#gid=424137782" target="_blank">Contribute</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://gitlabsbnb.irbbarcelona.org/project-specific-repositories/covid19" target="_blank">Code</a>
      </li>
      <li class="nav-item {{ 'active' if active_page == 'About' else '' }}">
        <a class="nav-link" href="{{ url_for('about') }}" target="_blank">About</a>
      </li>
    </ul>
  </div>
</nav>
<br><br><br>